.AnimatedButton {
    background-color: rgb(70, 70, 70);
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    border-left-color: rgb(65, 65, 65);
    border-right-color: rgb(65, 65, 65);
    border-top-color: rgb(65, 65, 65);
    border-bottom-color: rgb(65, 65, 65);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    transition-property: background-color, color;
    transition-duration: 200ms, 200ms;
    transition-timing-function: ease, ease-in;
    transition-delay: 0ms, 0ms;
}

.AnimatedButton:hover {
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    scale: 1.04 1.04;
    transform-origin: bottom;
    transition-duration: 300ms, 300ms;
    transition-timing-function: ease, ease;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
    transition-property: background-color, color;
    transition-delay: 0ms, 0ms;
    background-color: rgba(152, 32, 32, 0.83);
    color: rgb(233, 37, 37);
}

.AnimatedButton:active {
    background-color: rgba(231, 76, 60, 0);
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    border-left-color: rgb(153, 219, 107);
    border-right-color: rgb(153, 219, 107);
    border-top-color: rgb(153, 219, 107);
    border-bottom-color: rgb(153, 219, 107);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    scale: 1 1;
    transition-duration: 300s;
    transition-timing-function: ease-out;
}

.AnimatedBordeButton {
    background-color: rgba(70, 70, 70, 0);
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    border-left-color: rgb(65, 65, 65);
    border-right-color: rgb(65, 65, 65);
    border-top-color: rgb(65, 65, 65);
    border-bottom-color: rgb(65, 65, 65);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    -unity-font-style: bold;
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.AnimatedBordeButton:hover {
    background-color: rgba(70, 70, 70, 0);
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    border-left-color: rgb(231, 136, 62);
    border-right-color: rgb(231, 136, 62);
    border-top-color: rgb(231, 136, 62);
    border-bottom-color: rgb(231, 136, 62);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 14px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 14px;
    transition-duration: 200ms;
    transition-delay: 0ms;
    -unity-font-style: bold;
    color: rgb(231, 136, 62);
    transition-timing-function: ease-in;
}

.AnimatedBordeButton:active {
    background-color: rgba(70, 70, 70, 0);
    width: auto;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-height: 30px;
    min-height: 20px;
    border-left-color: rgb(65, 65, 65);
    border-right-color: rgb(65, 65, 65);
    border-top-color: rgb(65, 65, 65);
    border-bottom-color: rgb(65, 65, 65);
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    transition-property: color, translate;
    transition-duration: 200ms, 1000ms;
    transition-timing-function: ease-in, ease-out;
    transition-delay: 0ms, 0ms;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 18px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 18px;
    transform-origin: top;
    scale: 1.06 1.25;
    color: rgba(210, 210, 210, 0.29);
}
